:root {
    --couleur-principale: #FF3147;
    --couleur-secondaire: #021738;
}

/*================HEADER==================*/
header {
    background-color: white;
}

.nav-spanned {
    color: var(--couleur-principale);
}

.nav-button {
    background-color: var(--couleur-principale);
    color: white;
}

.nav-button:hover {
    background-color: #ff5f6fef;
    color: white;
}

.nav-link:hover {
    color: #FF3147 !important;
}

.navbar-toggler {
    background-color: #FF3147 !important;
}
.titre {
     background-image:url("../images/hero1.jpg") ;
     height: 400px;
     padding-top: 100px;
}
.titre h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}
.titre p {
    color: white;
    text-align: center;
    font-size: 25px;
}
.titre p span {
    color: red;
}
.conteneur{
    width: 2000px;
    
    margin-left: 500px;
    margin-top: 80px;
    
}

.card-section {
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.amount {
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
}

.step-btn {
    background-color: #d91d5a;
    border: none;
    font-weight: bold;
}

.tab-active {
    border-bottom: 3px solid #d91d5a !important;
    color: #d91d5a !important;
    font-weight: bold !important;
}

.qty-btn {
    width: 32px;
    height: 32px;
    padding: 0;
}

.total-box {
    background: #d91d5a;
    color: white;
    padding: 16px;
    font-size: 1.2rem;
    border-radius: 6px;
}

.side-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.side-amount {
    color: #d91d5a;
    font-weight: bold;
    font-size: 1.4rem;
}

.tabs-container {
    background: #f2f3f7;
    padding: 0;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
}

.tab-item {
    padding: 15px 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #7c7f8a;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.tab-item i {
    font-size: 18px;
}

.tab-item.active {
    background: #e71c4d;
    color: white !important;
}

.tab-item.active i {
    color: white !important;
}

.tab-item:not(.active):hover {
    background: #e8e9ee;
}

.sidebar-box {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.amount-box {
    font-weight: bold;
    font-size: 1.2rem;
}

.qty-box button {
    width: 35px;
    height: 35px;
}

.btn-suivant .step-btn {
    background: #e8e9ee;
    color: #333;
    border: none;

}
.rectangle-image{
    width: 1200px;
    height: 900px;
    
}
.rectangle-image img{
    width: 120%;
    height: 100%;
    object-fit: cover;
    
}
form{
    width: 20%;
    height: 450px;
    margin-top: 200px;
    background-color: white;
}
input{
    width: 75%;
    height: 50px;
    padding-left: 10px;
     background-color: rgb(236, 234, 234);
     border: none;
}
textarea{
    width: 87%;
    height: 200px;
     background-color: rgb(236, 234, 234);
     border: none;
}
.temoin {
    background-image:url("../images/hero1.jpg") ;
    padding-top: 120px;
    height: 600px;
}
.profil-image img{
    margin-right: -20px;
    height: 200px;
    width: 200px;
}








/* ======================Footer========================== */
footer {
    background-color: #021738;
}

.footer-socials {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.footer-socials li a {
    padding: 10px;
    border-radius: 50%;
    background-color: #FF3147;
}

.footer-socials li a:hover {
    background-color: #fa5f6e;
}

.footer-post-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 4px;
}